*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.con{
    min-height: 140vh;
    background-color: rgb(255, 236, 126);
}

.var{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 20px;
    margin-bottom: 30px;
}
h1,p{
    padding: 20px;
    color: brown;
}
p{
    color: green;
    font-size: 25px;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
}
h3{
    padding-bottom: 20px;
    font-size: 25px;
    color: aquamarine;
}
.back{
   
    background-color: red;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 23px;
    border-radius: 10px;

    
}
li{
    padding: 10px;
    border: 2px solid brown;
    list-style: none;
    font-size: 25px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    font-weight: 800;
    color: brown;
}
li:hover a,li:hover{
    background-color: brown;
    color: white;
    
}
.con{
    position: relative;
}
.m1{
    padding: 10px;
    border: 3px solid blue;
    position: absolute;
    top: 12%;
    right: 2%;
    border-radius: 50%;
    font-size: 25px;
    background-color: lightslategray;
}
@media (max-width:600px){
    h1{
        font: size 25px;
        margin-bottom:10px;
    }
    li{
        font-size: 20px;
        padding: 8px;
    }
}